body, .ui-overlay-c {
    background: #002b36;
    margin: auto;
    color: white;
}

.ui-body-c {
    background: none;
    color: white;
    text-shadow: none;
}

#page {
    margin: 0 auto;
}

#index_page .ui-block-a ,
#index_page .ui-block-b {
    /*background: #6f6f6f;*/
    background: #414141;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: black;
    overflow: hidden;
}

#index_page .ui-block-a a,
#index_page .ui-block-b a{
    margin: 1em auto;
    padding: 1em;
    display: inline-block;
}

.loading {
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 25px 25px;
    padding-right: 40px;
    padding-bottom: 15px;
}
