body, .ui-overlay-c {
    background: #002b36;
    margin: auto;
    color: white;
}

.ui-body-c {
    background: none;
    color: white;
    text-shadow: none;
}

#page {
    margin: 0 auto;
}

#index_page .ui-block-a ,
#index_page .ui-block-b {
    /*background: #6f6f6f;*/
    background: #414141;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: black;
    overflow: hidden;
}

#index_page a{
    padding: 1em;
    display: inline-block;
    width: 50%;
    text-align: center;
}

.loading {
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 25px 25px;
    padding-right: 40px;
    padding-bottom: 15px;
}

#index_page #refresh_all, #index_page #clear_all {
    width: 100%;
    padding: 0;
}
