body, .ui-overlay-c {
    background: #002b36;
    margin: auto;
    color: white;
}

.ui-body-c {
    background: none;
    color: white;
    text-shadow: none;
}

#page {
    margin: 0 auto;
}

#index_page td {
    /*background: #6f6f6f;*/
    background: #414141;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: black;
    overflow: hidden;
}

#index_page td a{
    margin: 1em auto;
    padding: 1em;
    display: inline-block;
}


